@import url('fonts.googleapi.com/css?family=Lato|Raleway|Montserrat');

body {
    background-color: #ffffff;
    font-family: 'Trebuchet MS';
}
h1 {
    color: #3f3fff;
    font-size: 24px;
}
h2 {
    color: #3f3fff;
    font-size: 20px;
}
h3 {
    color: #3f3fff;
    font-size: 18px;
}
h4 {
    color: #3f3fff;
    font-size: 16px;
}
h5 {
    color: #3f3fff;
    font-size: 14px;
}
h6 {
    color: #3f3fff;
    font-size: 12px;
}
p {
    color: #000000;
    font-size: 11px;
}
div#header {
    background-color: #bfbfff;
    font-family: monospace;
}
div.warning {
    background-color: #ff7f00;
    color: #7f3f00;
}
div.error {
    background-color: #ff0000;
    color: #7f0000;
}
#title {
    text-align: center;

}
#subtitle {
    text-align: center;
}