body {
    background-color: aliceblue;
    font-family: 'Trebuchet MS';
}
h1 {
    color: darkslateblue;
    font-size: 18px;
}
h2 {
    color: darkslateblue;
    font-size: 16px;
}
h3 {
    color: darkslateblue;
    font-size: 14px;
}
h4 {
    color: darkslateblue;
    font-size: 13px;
}
h5 {
    color: darkslateblue;
    font-size: 12px;
}
h6 {
    color: darkslateblue;
    font-size: 11px;
}
p {
    color: black;
    font-size: 11px;
}
div#header {
    background-color: aqua;
    font-family: monospace;
}
div.warning {
    background-color: darkgoldenrod;
    color: gold;
}
div.error {
    background-color: brown;
    color: crimson;
}
#title {
    text-align: center;
    color: cadetblue;

}
#subtitle {
    text-align: center;
    color: dodgerblue;
}
#link {
    text-align: center;
    color: cadetblue;
}