* {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

.title {
  font-size: 3rem;
  font-weight: 600;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subheading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 0.5rem;
}

.small {
  font-size: 0.7rem;
  font-weight: 200;
}
